# dependencies
node_modules/

# compiled output
public/

# System Files
[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

# IDE Files
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

# Misc
bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes
.svn
*.codekit
*.scssc