h1 {
    font-size: 2em;
    transition: all .3s;
    color: blue;

    &:hover{
        transform: translateX(50px);
        color: red;
    }
    
}

.bg {
    background-image: url('~images/favicon.png');
    // or @imgs
    // background-image: url('~@imgs/favicon.png');
    background-size: cover;
    width: 100px;
    height: 100px;
}